<div class="flex-container">
  <%= image_tag("/assets/paramount.jpg", class: "hero-image") %>
  <div class="hero-text">
    <h1>Welcome to Movie Tracker</h1>
    <p class="sub-text">A place for movie lovers to track and rate movies they have seen! Best of all it's free to use.</p>
    <%= link_to  "Create Account", new_user_path, class: "btn btn-primary mt-4" %>
  </div>
</div>

<div class="flex-container">
  <div class="steps">
    <h2 class="step">Step 1</h2>
    <p>Create an account, all you need is an email address.</p>
  </div>
  <div class="steps">
    <h2 class="step">Step 2</h2>
    <p>Start tracking and rating movies.</p>
  </div>
  <div class="steps">
    <h2 class="step">Step 3</h2>
    <p>You'll never forget if you saw that bad movie.</p>
  </div>
</div>

<div class="get-started-banner">
  <h2>What are you waiting for?</h2>
  <%= link_to  "Get Started Today", new_user_path, class: "btn btn-primary mt-4" %>
</div>
