.grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    label {
        text-align: left;
        margin: auto 0;
    }
}
.form-inputs {
    height: 40px;
    border-radius: 10px;
}
.registration-text {
    width: 80%;
}
